<%- include('header') %>

<% if(errMess) { %>
  <p style="color: red;"> <%= errMess %> </p>
<% } %>

<form action="/post" method="post" style="width: 50%; margin: auto;" enctype="multipart/form-data">
  <div class="form-group">
    <label for="Titre">Titre</label>
    <input type="text" class="form-control" id="Titre"  placeholder="Titre" name="titre">
    <small id="emailHelp" class="form-text text-muted">ici mettez un ttitre a votre post.</small>
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <textarea type="textarea" class="form-control" id="Description" placeholder="Description" name="description" style="height: 200px;"></textarea>
  </div>
  <div class="form-group">
    <label for="Titre">Fichier</label>
    <input type="file" class="form-control" id="Titre" name="avatar">
    <small id="" class="form-text text-muted">ici mettez une image a votre post.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% posts.forEach(post => { %>
  <% let likeNbr = 0 %>
  <% likes.forEach(like => { %>
    <% if(like.like_idpost === post.idpost) { %>
      <% likeNbr++ %>
    <% } %>
  <% }) %>

  <% let dislikeNbr = 0 %>
  <% dislikes.forEach(dislike => { %>
    <% if(dislike.dislike_idpost === post.idpost) { %>
      <% dislikeNbr++ %>
    <% } %>
  <% }) %>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="card" style="width: 29rem;margin: auto; margin-top: 30px;">
    <% if(post.postimage) { %>
      <img class="card-img-top" src="images/<%= post.postimage %>" alt="Card image cap">
    <% } %>
    <div class="card-body">
      <h5 class="card-title"><%= post.titre %></h5>
      <p class="card-text"><%= post.description %></p>
      <a href="/article?idpost=<%= post.idpost %>" class="btn btn-primary">Voir article</a>
      
      <div class="likeDislike">
        <form action="/like" method="post">
          <input name="like_idpost" type="text" value="<%= post.idpost %>" hidden>
          <input name="like_iduser" type="text" value="<%= me.id %>" hidden>
          <button type="submit" id="like" style="color: green;"> <img  src="images/like.png"> </button>
          <p> <%= likeNbr %></p>
        </form>
        
        <form action="/dislike" method="post">
          <input name="dislike_idpost" type="text" value="<%= post.idpost %>" hidden>
          <input name="dislike_iduser" type="text" value="<%= me.id %>" hidden>
          <button type="submit" id="dislike" style="color: red;"> <img  src="images/dislike.png"> </button>
          <p> <%= dislikeNbr %></p>
        </form>

        
        
      </div>
      
    </div>
  </div>
              
<% }) %>


</body>
</html>